<ul class="nav navbar-nav ml-auto">
  <a routerLinkActive="active" [routerLink]="['/smartgrid/solar']"><i class="fa fa-battery-full"></i> Solar</a>
  <li class="menuDivider">
  </li>

  <a routerLinkActive="active" [routerLink]="['/smartgrid/wind']"><i class="fa fa-comments"></i> Wind</a>
  <li class="menuDivider">
  </li>

  <a routerLinkActive="active" [routerLink]="['/multigrid']"><i class="fa fa-tasks"></i> Multigrid</a>
  <li class="menuDivider">
  </li>

  <a routerLinkActive="active" [routerLink]="['/listview']"><i class="fa fa-camera"></i> Listview</a>
</ul>