<ul class="nav navbar-nav ml-auto">

  <!--Inspect-->
  <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
    <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
        <i class="fa fa-calendar-check-o"></i>
        <span class="d-md-down-none">Inspect</span>
      </a>
    <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
      <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i>Alarms</a>
      <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
        <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
      </ul>
      <a class="dropdown-item" href="#"><i class="fa fa-battery-full"></i>Battery</a>
      <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/inspect/ecb']"><i class="fa fa-tasks"></i>ECB...</a>
      <a class="dropdown-item"  routerLinkActive="active" [routerLink]="['/inspect/energy']"><i class="fa fa-comments"></i>Energy trend...</a>
      <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i>Events...</a>
      <a class="dropdown-item" href="#"><i class="fa fa-battery-full"></i>Generator...</a>
      <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i>Grid availability...</a>
      <a class="dropdown-item" href="#"><i class="fa fa-comments"></i>Run hours...</a>
      <a class="dropdown-item" href="#"><i class="fa fa-comments"></i>Inventory...</a>
      <a class="dropdown-item" href="#"><i class="fa fa-camera"></i>Camera...</a>
    </div>
  </li>

  <li class="menuDivider">
  </li>
  <!--Analyze-->
  <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
    <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
        <i class="fa fa-bar-chart"></i>
        <span class="d-md-down-none">Analyze</span>
      </a>
    <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
      <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i>Compare</a>
      <a class="dropdown-item" href="#"><i class="fa fa-battery-full"></i>Site health</a>
      <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i>Site maintenance</a>
      <a class="dropdown-item" href="#"><i class="fa fa-comments"></i>Change logs</a>
      <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i>KPI</a>
    </div>
  </li>

  <li class="menuDivider">
  </li>
  <!--View-->
  <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
    <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
        <i class="fa fa-clone"></i>
        <span class="d-md-down-none">View</span>
      </a>
    <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
      <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i>Traps</a>
      <a class="dropdown-item" href="#"><i class="fa fa-battery-full"></i>Sites</a>
    </div>
  </li>

  <li class="menuDivider">
  </li>
  <!--System-->
  <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
    <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
        <i class="icon-settings"></i>
        <span class="d-md-down-none">System</span>
      </a>
    <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
      <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i>Administration</a>
      <a class="dropdown-item" href="#"><i class="fa fa-battery-full"></i>Sites</a>
      <a class="dropdown-item" href="#"><i class="fa fa-battery-full"></i>Options</a>
    </div>
  </li>

  <li class="menuDivider">
  </li>
  <!--Help-->
  <li class="nav-item" (onToggle)="toggled($event)">
    <a href="http://onlinedocs.eltek.com/wip4/mywip/multisite/" class="nav-link">
        <i class="fa fa-question-circle-o"></i>
        <span class="d-md-down-none">Help</span>
      </a>
  </li>
</ul>