.pac{
    fill:pink; 
    stroke:red;
    stroke-width:2;
    fill-opacity:0.1;
    stroke-opacity:0.9
}

.phouse{
    fill:lightgreen; 
    stroke:green;
    stroke-width:2;
    fill-opacity:0.1;
    stroke-opacity:0.9
}

.pess{
    fill:lightyellow; 
    stroke:yellow;
    stroke-width:2;
    fill-opacity:0.1;
    stroke-opacity:0.9
}

.bat{
    fill:lightblue; 
    stroke:blue;
    stroke-width:2;
    fill-opacity:0.1;
    stroke-opacity:0.9
}

