<div style="width: 100%;">    
  <svg height="600" width="918">

    <line x1="180" y1="200" x2="710" y2="200" style="stroke:black;stroke-width:2" />
    <line x1="600" y1="200" x2="600" y2="250" style="stroke:black;stroke-width:2" />

    <image href="../../../../assets/img/smartgrid/grid.png" x="0" y="100" />
    <image href="../../../../assets/img/smartgrid/solar-house.jpg" x="720" y="100" />
    <image href="../../../../assets/img/smartgrid/outdoor-cabinet.jpg" width="180px" x="530" y="260" />

    <a href="#" target="_blank">
      <rect x="200" y="80" width="120" height="110" class="pac"
      />
      <text x="220" y="100" fill="black">Pac : 163W</text>
      <text x="220" y="120" fill="black">fac : 50.07Hz</text>
      <text x="220" y="140" fill="black">PL1 : 698W</text>
      <text x="220" y="160" fill="black">PL2 : 285W</text>
      <text x="220" y="180" fill="black">PL3 : 607W</text>
    </a>

    <a xlink:href="#" target="_blank">
      <rect x="510" y="100" width="190" height="90" class="phouse"
      />
      <text x="520" y="120" fill="black">Phouse : 163W</text>
      <text x="520" y="140" fill="black">PL1 : 698W</text>
      <text x="620" y="140" fill="black">VL1 : 698W</text>
      <text x="520" y="160" fill="black">PL2 : 285W</text>
      <text x="620" y="160" fill="black">VL2 : 285W</text>
      <text x="520" y="180" fill="black">PL3 : 607W</text>
      <text x="620" y="180" fill="black">VL3 : 607W</text>
    </a>

    <a xlink:href="#" target="_blank">
      <rect x="320" y="290" width="200" height="90" class="pess"
      />
      <text x="330" y="310" fill="black">Pess : 753W</text>
      <text x="330" y="330" fill="black">PL1 : 224W</text>
      <text x="430" y="330" fill="black">QL1 : 129var</text>
      <text x="330" y="350" fill="black">PL2 : 221W</text>
      <text x="430" y="350" fill="black">QL2 : 213var</text>
      <text x="330" y="370" fill="black">PL3 : 288W</text>
      <text x="430" y="370" fill="black">QL3 : 195var</text>
    </a>

    <a xlink:href="#" target="_blank">
      <rect x="320" y="390" width="200" height="50" class="bat"
      />
      <text x="330" y="410" fill="black">CBAT : 369Ah</text>
      <text x="430" y="410" fill="black">TBAT : 224 C</text>
      <text x="330" y="430" fill="black">VBAT : 55.68V</text>
      <text x="430" y="430" fill="black">IBAT : 9A</text>
    </a>
    Sorry, your browser does not support inline SVG.
  </svg>

</div>